name: Development

on:
  push:
    branches: ['main', 'release/*']
  pull_request:

jobs:
  test:
    runs-on: ubuntu-22.04
    permissions:
      contents: read
    strategy:
      matrix:
        include:
        - spack_ref: develop
          packages_ref: develop
        - spack_ref: releases/v1.0
          packages_ref: v2025.11.0
    steps:
    - name: Checkout
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

    - name: Set up Spack
      uses: ./
      with:
        spack_ref: ${{ matrix.spack_ref }}
        packages_ref: ${{ matrix.packages_ref }}
        buildcache: true
        color: true

    - name: Version check
      run: spack --version

    - name: Check build cache config
      run: spack config blame mirrors

    - name: Check build cache install in active env with spack-bash shell
      shell: spack-bash {0}
      run: |
        spack env activate
        spack install --add --cache-only --reuse python
        which python3
        python3 -c 'print("hello world")'

    - name: Check spack-sh shell
      shell: spack-sh {0}
      run: |
        spack env activate
        spack env status
